* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
#banner {
  background: linear-gradient(rgba(0, 0, 0, 0.1), #009688), url(img/b1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
#test {
  margin: 5vh;
}
.logo {
  width: 250px;
  position: fixed;
  left: 30px;
  top: 20px;
  z-index: 10;
}
.banner-text {
  text-align: center;
  color: #fff;
  padding-top: 180px;
}
.banner-text h1 {
  font-size: 100px;
  font-family: "Kaushan Script", cursive;
}
.banner-text p {
  font-size: 20px;
  font-style: italic;
}
.banner-btn {
  margin: 70px auto 0;
}
.banner-btn a {
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  color: #fff;
  border: 0.5px solid #fff;
  position: relative;
  z-index: 1;
  transition: color 0.5s;
}
.banner-btn a span {
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: -1;
  transition: 0.5s;
}
.banner-btn a:hover span {
  width: 100%;
}
.banner-btn a:hover {
  color: #000;
}

#sideNav {
  width: 200px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background: #009688;
  z-index: 2;
  transition: 0.5s;
}
nav ul li {
  list-style: none;
  margin: 20px 20px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
}
.active,
nav ul li:hover {
  background-color: rgb(0, 99, 86);
  border-radius: 3px;
  display: block;
}
/* Dropdown Button */
.dropbtn {
  background-color: #009688;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgb(0, 99, 86);
}

#menuBtn {
  width: 50px;
  height: 50px;
  background: #009688;
  text-align: center;
  position: fixed;
  right: 30px;
  top: 20px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;
}
#menuBtn img {
  width: 20px;
  margin-top: 15px;
  margin-inline: auto;
}
@media screen and (max-width: 1000px) {
  .banner-text h1 {
    font-size: 44px;
    font-family: "Kaushan Script", cursive;
  }
  .banner-text p {
    font-size: 14px;
    font-style: italic;
  }
  .banner-btn a {
    display: block;
    margin: 20px auto;
  }
  #test {
    margin-top: 0;
  }
  .Introduction-box {
    width: 100%;
    flex-direction: column;
    gap: 50px;
  }
}

.textc {
  color: rgb(192, 0, 0);
  text-align: center;
}

/*--Introduction--*/

#Introduction {
  width: 100%;
  padding: 70px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #03fae1);
  background-size: cover;
  background-position: center;
  height: auto;
}
.title-text {
  text-align: center;
  padding-bottom: 70px;
}
.title-text p {
  margin: auto;
  font-size: 20px;
  color: #009688;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}
.title-text p::after {
  content: "";
  width: 50px;
  height: 35px;
  background: linear-gradient(#019587, #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.title-text h1 {
  font-size: 50px;
}
.Introduction-box {
  width: 80%;
  margin: auto;
  display: flex;
}
.Introduction {
  text-align: justify;
  padding-right: 20px;
  flex: 0.5;
}
.introduction-img {
  flex: 0.5;
  display: grid;
  place-items: center;
}
.introduction-img img {
  width: 70%;
  object-fit: contain;
  border-radius: 10px;
}

/*--Birth--*/

#Birth {
  width: 100%;
  padding: 70px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #03fae1);
  background-size: cover;
  background-position: center;
  height: auto;
}
.Birth_title-text {
  text-align: center;
  padding-bottom: 70px;
  font-family: "Radio Canada", sans-serif;
}
.Birth_title-text p {
  margin: auto;
  font-size: 20px;
  color: #009688;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}
.Birth_title-text p::after {
  content: "";
  width: 50px;
  height: 35px;
  background: linear-gradient(#019587, #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.Birth_title-text h1 {
  font-size: 50px;
}
.Birth-box {
  width: 90%;
  margin: auto;
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  text-align: justify;
  flex-direction: row-reverse;
  border: 2px solid red;
}
.Introduction {
  flex: 0.5;
}
.Birth-img {
  flex: 0.5;
  margin: auto;
}
.Birth-img img {
  width: 80%;
  object-fit: contain;
  border-radius: 10px;
}

/*--Title--*/

#Title {
  width: 100%;
  padding: 70px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #03fae1);
  background-size: cover;
  background-position: center;
  height: auto;
}
.Title_title-text {
  text-align: center;
  padding-bottom: 70px;
  font-family: "Radio Canada", sans-serif;
}
.Title_title-text p {
  margin: auto;
  font-size: 20px;
  color: #009688;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}
.Title_title-text p::after {
  content: "";
  width: 50px;
  height: 35px;
  background: linear-gradient(#019587, #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.Title_title-text h1 {
  font-size: 50px;
}
.Title-box {
  width: 90%;
  margin: auto;
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  text-align: justify;
}
.Introduction {
  flex: 0.5;
}
.Title-img {
  flex: 0.5;
  margin: auto;
}
.Title-img img {
  width: 95%;
  object-fit: contain;
  border-radius: 10px;
}
#para {
  width: 100%;
  margin: auto;
  padding: auto;
  background: #03fae1;
  background-size: cover;
  background-position: center;
  height: auto;
}
.para1 {
  width: 90%;
  margin: auto;
  text-align: justify;
}

/*--CHILDHOOD--*/

#CHILDHOOD {
  width: 100%;
  padding: 70px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #03fae1);
  background-size: cover;
  background-position: center;
  height: auto;
}
.CHILDHOOD_title-text {
  text-align: center;
  padding-bottom: 70px;
  font-family: "Radio Canada", sans-serif;
}
.CHILDHOOD_title-text p {
  margin: auto;
  font-size: 20px;
  color: #009688;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}
.CHILDHOOD_title-text p::after {
  content: "";
  width: 50px;
  height: 35px;
  background: linear-gradient(#019587, #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.CHILDHOOD_title-text h1 {
  font-size: 50px;
}
.CHILDHOOD-box {
  width: 90%;
  margin: auto;
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  text-align: justify;
  flex-direction: row-reverse;
}
.Introduction {
  flex: 0.5;
}
.CHILDHOOD-img {
  flex: 0.5;
  margin: auto;
}
.CHILDHOOD-img img {
  width: 80%;
  object-fit: contain;
  border-radius: 10px;
}
#para1 {
  width: 100%;
  margin: auto;
  padding: auto;
  background: #03fae1;
  background-size: cover;
  background-position: center;
  height: auto;
}

/*--successor--*/

#successor {
  width: 100%;
  padding: 70px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #03fae1);
  background-size: cover;
  background-position: center;
  height: auto;
}
.successor_title-text {
  text-align: center;
  padding-bottom: 70px;
}
.successor_title-text p {
  margin: auto;
  font-size: 20px;
  color: #009688;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}
.successor_title-text p::after {
  content: "";
  width: 50px;
  height: 35px;
  background: linear-gradient(#019587, #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.successor_title-text h1 {
  font-size: 50px;
}
.successor-box {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  text-align: justify;
  flex-direction: row-reverse;
}
.will-img {
  flex: 0.5;
  margin: auto;
}
.will-img img {
  width: 40%;
  object-fit: contain;
  border-radius: 10px;
}

/*--Political--*/

#Political {
  width: 100%;
  padding: 70px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #03fae1);
  background-size: cover;
  background-position: center;
  height: auto;
}
.Political-title-text {
  text-align: center;
  padding-bottom: 70px;
}
.Political-title-text p {
  margin: auto;
  font-size: 20px;
  color: #009688;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}
.Political-title-text p::after {
  content: "";
  width: 50px;
  height: 35px;
  background: linear-gradient(#019587, #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.Political-title-text h1 {
  font-size: 50px;
}
.Political-box {
  width: 80%;
  margin: auto;
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  text-align: justify;
}
.Politicals {
  flex: 0.5;
}
.Politicals-img {
  flex: 0.5;
  margin: auto;
}
.Politicals-img img {
  width: 95%;
  object-fit: contain;
  border-radius: 10px;
}
#para2 {
  width: 100%;
  margin: auto;
  padding: auto;
  background: #03fae1;
  background-size: cover;
  background-position: center;
  height: auto;
}

/*--Proof--*/

#Proof {
  width: 100%;
  padding: 70px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #03fae1);
  background-size: cover;
  background-position: center;
  height: auto;
}
.Proof-title-text {
  text-align: center;
  padding-bottom: 70px;
}
.Proof-title-text p {
  margin: auto;
  font-size: 20px;
  color: #009688;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}
.Proof-title-text p::after {
  content: "";
  width: 50px;
  height: 35px;
  background: linear-gradient(#019587, #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.Proof-title-text h1 {
  font-size: 50px;
}
.Proof-box {
  width: 80%;
  margin: auto;
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  text-align: justify;
  flex-direction: row-reverse;
}
.Proofs {
  flex: 0.5;
}
.Proofs-img {
  flex: 0.5;
  margin: auto;
}
.Proofs-img img {
  width: 85%;
  object-fit: contain;
  border-radius: 10px;
}
#para3 {
  width: 100%;
  margin: auto;
  padding: auto;
  background: #03fae1;
  background-size: cover;
  background-position: center;
  height: auto;
}

/*--Mojiza--*/

#Mojiza {
  width: 100%;
  padding: 70px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #03fae1);
  background-size: cover;
  background-position: center;
  height: auto;
}
.Mojiza-title-text {
  text-align: center;
  padding-bottom: 70px;
}
.Mojiza-title-text p {
  margin: auto;
  font-size: 20px;
  color: #009688;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}
.Mojiza-title-text p::after {
  content: "";
  width: 50px;
  height: 35px;
  background: linear-gradient(#019587, #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.Mojiza-title-text h1 {
  font-size: 50px;
}
.Mojiza-box {
  width: 80%;
  margin: auto;
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  text-align: justify;
}
.Mojizat {
  flex: 0.5;
}
.Mojizat-img {
  flex: 0.5;
  margin: auto;
}
.Mojizat-img img {
  width: 90%;
  object-fit: contain;
  border-radius: 10px;
}
#para4 {
  width: 100%;
  margin: auto;
  padding: auto;
  background: #03fae1;
  background-size: cover;
  background-position: center;
  height: auto;
}

/*--tradition--*/

#tradition {
  width: 100%;
  padding: 70px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #03fae1);
  background-size: cover;
  background-position: center;
  height: auto;
}
.tradition-title-text {
  text-align: center;
  padding-bottom: 70px;
}
.tradition-title-text p {
  margin: auto;
  font-size: 20px;
  color: #009688;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}
.tradition-title-text p::after {
  content: "";
  width: 50px;
  height: 35px;
  background: linear-gradient(#019587, #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.tradition-box {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  text-align: justify;
}
.traditions {
  flex: 0.5;
}

/*--Shahadat--*/

#Shahadat {
  width: 100%;
  padding: 80px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #03fae1);
  background-size: cover;
  background-position: center;
  height: auto;
}
.Shahadat-title-text {
  text-align: center;
  padding-bottom: 70px;
}
.Shahadat-title-text p {
  margin: auto;
  font-size: 20px;
  color: #009688;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}
.Shahadat-title-text p::after {
  content: "";
  width: 50px;
  height: 35px;
  background: linear-gradient(#019587, #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.Shahadat-title-text h1 {
  font-size: 50px;
}
.Shahadat-box {
  width: 80%;
  margin: auto;
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  text-align: justify;
  flex-direction: row-reverse;
}
.Shahadats {
  flex: 0.5;
}
.Shahadats-img {
  flex: 0.5;
  margin: auto;
}
.Shahadats-img img {
  width: 90%;
  object-fit: contain;
  border-radius: 10px;
}
#para5 {
  width: 100%;
  margin: auto;
  padding: auto;
  background: #03fae1;
  background-size: cover;
  background-position: center;
  height: auto;
}

/*--Merits--*/

#merit {
  width: 100%;
  padding: 70px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #03fae1);
  background-size: cover;
  background-position: center;
  height: auto;
}
.merit-title-text {
  text-align: center;
  padding-bottom: 70px;
}
.merit-title-text p {
  margin: auto;
  font-size: 20px;
  color: #009688;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}
.merit-title-text p::after {
  content: "";
  width: 50px;
  height: 35px;
  background: linear-gradient(#019587, #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.merit-title-text h1 {
  font-size: 50px;
}
.merit-box {
  width: 80%;
  margin: auto;
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  text-align: justify;
}
.merits {
  flex: 1;
}
.merits-img {
  flex: 1;
  margin: auto;
}
.merits-img img {
  width: 80%;
  object-fit: contain;
  border-radius: 10px;
}
#para6 {
  width: 100%;
  margin: auto;
  padding: auto;
  background: #03fae1;
  background-size: cover;
  background-position: center;
  height: auto;
}

/*--about--*/

#about {
  width: 100%;
  padding: 70px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #03fae1);
  background-size: cover;
  background-position: center;
  height: auto;
}
.about_title-text {
  text-align: center;
  padding-bottom: 70px;
}
.about_title-text p {
  margin: auto;
  font-size: 20px;
  color: #009688;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}
.about_title-text p::after {
  content: "";
  width: 50px;
  height: 35px;
  background: linear-gradient(#019587, #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.about_title-text h1 {
  font-size: 50px;
}
.about-box {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  text-align: justify;
  flex-direction: row-reverse;
}

/*--purpose--*/

#purpose {
  width: 100%;
  padding: 70px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #03fae1);
  background-size: cover;
  background-position: center;
  height: auto;
}
.purpose_title-text {
  text-align: center;
  padding-bottom: 70px;
}
.purpose_title-text p {
  margin: auto;
  font-size: 20px;
  color: #009688;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}
.purpose_title-text p::after {
  content: "";
  width: 50px;
  height: 35px;
  background: linear-gradient(#019587, #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.purpose_title-text h1 {
  font-size: 50px;
}
.purpose-box {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  text-align: justify;
  flex-direction: row-reverse;
}

/*--Footer--*/
footer {
  background: rgba(235, 227, 227, 0.932);
  height: auto;
  width: auto;
  padding-top: 40px;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500;
  margin: 10px auto;
  line-height: 28px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #000;
}
.socials a i {
  font-size: 1.1rem;
  transition: color, 4s ease;
}
.socials a:hover i {
  color: #019587;
}
.footer-bottom {
  background: rgb(66, 66, 66);
  width: auto;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
